@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.container {
    position: relative;
    width: 100%;
    padding: 0;
}
/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #164267;
  border-left: 10px solid #164267;
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: #ffff;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #ffff;
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: #164267;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}
.navigation ul li a .logo {
  position: relative;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  white-space: nowrap;
  margin-left: 50px;
  font-size: x-large;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #ffff;
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #ffff;
  pointer-events: none;
}
.navigation ul li.active {
  background-color: #97B4D7;
}
.navigation ul li.active .icon {
  color: #164267;
}
.navigation ul li.active .title {
  color: #164267;
}
/* Add a new class for the active navigation item */
.navigation ul li.active:hover,
.navigation ul li.active.hovered {
  background-color: #97B4D7; 
}

.navigation ul li.active:hover a,
.navigation ul li.active.hovered a {
  color: #164267; 
}

/* Remove hover effect for the active item */
.navigation ul li.active:hover a::before,
.navigation ul li.active.hovered a::before,
.navigation ul li.active:hover a::after,
.navigation ul li.active.hovered a::after {
  content: none;
}
/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  margin-left: 400px ;
  z-index: 1;
  width: 500px;
}

.cardBox .card {
  position: relative;
  background: #ffff;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  margin-top: 80px;
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: #164267;
}

.cardBox .card .cardName {
  color: v#000;
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3rem;
  color: #000;
}
/* Chatbot Button */
.startConvButton {
  position: fixed;
  bottom: 30px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: #164267;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.endConvButton {
  position: fixed;
  bottom: 30px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: #164267;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.startConvButton i{
  color: #fff;
  font-size: 1.5rem;
}

.endConvButton i{
  color: #fff;
  font-size: 1.5rem;
}

.chat-container {
  display: none;
  position: fixed;
  max-width: 600px;
  height: 550px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
  right: 50px;
  top: 40px;
}

.chat-header {
  padding: 10px;
  width: 500px;
  border-bottom: 1px solid #ddd;
  background-color: #f1f1f1;
  border-radius: 8px 8px 0 0;
  text-align: center; /* Center align the text */
}

.chat-header h2 {
  margin: 0;
}

.chat-box {
  padding: 20px;
  overflow-y: auto;
  height: 450px;
  width: 500px;
  scroll-behavior: smooth;
  /* flex-grow: 1; Allow the chat box to grow and occupy remaining space */
  display: flex;
  flex-direction: column;
}

.chat-box::-webkit-scrollbar {
  display: none;
}

.chat-box .message {
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
  max-width: 70%; /* Limit the message width to 70% of the chat box */
}

.chat-box .message.sender {
  background-color: #f1f0f0;
  align-self: flex-end;
  position: relative; /* Position relative for absolute positioning of agg elements */
}

.chat-box .message.receiver {
  background-color: #e2f9ff;
  align-self: flex-start;
}

.agg-text,
.agg-voice {
  font-size: 0.8em;
  color: #666;
  margin-top: 4px;
}

.record-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #164267;
  color: #fff;
  cursor: pointer;
}
.record-button i{
  font-size: 1.5rem;
  padding-bottom: 2px
}

.record-button:hover {
  background-color: #3f6792;
}
.record-button:active {
  background-color: #000000;
}
/* Media Queries */
@media only screen and (max-width: 1025px) {
  .navigation {
    width: 200px;
  }
  .navigation.active {
    width: 40px;
  }
  .navigation ul li {
    margin-bottom: 30px;
  }
  .navigation ul li a .icon ion-icon {
    font-size: 1.5rem;
  }
  .navigation ul li a .logo {
    margin-left: 28px;
    font-size: large;
  }
  .cardBox {
    margin-left: 250px ;
    width: 700px;
  }
  
  .cardBox .card .numbers {
    font-size: 2rem;
  }
  
  .cardBox .card .cardName {
    font-size: 1.5rem;
    margin-top: 3px;
  }
  
  .cardBox .card .iconBx {
    font-size: 3.5rem;
  }
  .chat-container {
    width: 700px;
    max-width: 700px;
    right: 65px;
    bottom: 30px;
    margin-top: 680px;
  }
  
  .chat-header {
    width: 700px;
  }
  
  .chat-header h2 {
    margin: 0;
  }
  
  .chat-box {
    width: 700px;
  }
}
@media only screen and (max-width: 769px) {
  .navigation {
    width: 180px;
  }
  .navigation.active {
    width: 35px;
  }
  .navigation ul li {
    margin-bottom: 30px;
  }
  .navigation ul li a .icon ion-icon {
    font-size: 1.3rem;
  }
  .navigation ul li a .logo {
    margin-left: 15px;
    font-size: large;
  }
  .navigation ul li a .title{
    font-size: 15px;
  }
  .cardBox {
    margin-left: 200px ;
    margin-right: 40px;
    width: 550px;
  }
  .cardBox .card{
    margin-top: 20px;
  }
  .cardBox .card .numbers {
    font-size: 1.7rem;
  }
  
  .cardBox .card .cardName {
    font-size: 1rem;
    margin-top: 3px;
  }
  
  .cardBox .card .iconBx {
    font-size: 2.5rem;
  }
  .chat-container {
    width: 550px;
    max-width: 550px;
    height: 500px;
    right: 25px;
    bottom: 30px;
    margin-top: 400px;
  }
  
  .chat-header {
    width: 550px;
  }
  
  .chat-header h2 {
    margin: 0;
  }
  
  .chat-box {
    height: 400px;
    width: 550px;
  }
}
@media only screen and (max-width: 731px) {
  .navigation {
    width: 150px;
  }
  .navigation.active {
    width: 40px;
  }
  .navigation ul li {
    margin-bottom: 40px;
  }
  .navigation ul li a .icon ion-icon {
    font-size: 1.1rem;
  }
  .navigation ul li a .logo {
    margin-left: 10px;
    font-size: medium;
  }
  .navigation ul li a .title{
    font-size: 12px;
    padding-left: 0px;
  }
  .cardBox {
    margin-left: 160px ;
    margin-right: 20px;
    width: 350px;
  }
  .cardBox .card{
    margin-top: 20px;
  }
  .cardBox .card .numbers {
    font-size: 1.5rem;
  }
  
  .cardBox .card .cardName {
    font-size: 0.8rem;
    margin-top: 3px;
  }
  
  .cardBox .card .iconBx {
    font-size: 2.2rem;
  }
  .chat-container {
    width: 340px;
    max-width: 340px;
    height: 550px;
    right: 10px;
    bottom: 30px;
    margin-top: 400px;
  }
  
  .chat-header {
    width: 340px;
  }
  
  .chat-header h2 {
    margin: 0;
  }
  
  .chat-box {
    height: 450px;
    width: 340px;
  }
}
  
  